html[dark]{
    background-color: black;
    color: white;
}

html[dark] a{
    color: white;
}

body[size-mode]{
    font-size: 30px;
}

.anuncio{
    background-color: black;
    color: white;
    margin: -21px;
}

.position{
    padding-left: 400px;
}

.cor{
    color: red;
}

.begin{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    background-color: rgb(87, 87, 22);
    margin: -12px;
}

.w{
    grid-column-start: 1;
    grid-row-start: 1;
}

.inicio{
    grid-column-start: 1;
    grid-row-start: 2;
    color: black;
    padding-left: 30px;
    font-size: 20px;
    padding-bottom: 3px;
}

.s{
    grid-column-start: 2;
    grid-row-start: 1;
}

.historias{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    color:black;
    padding-left: 30px;
    font-size: 20px;
}

.autores{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    color: black;
    padding-left: 50px;
    font-size: 20px;
}

.pesquisa{
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 2;
    padding-left: 30px;
}

.botao{
    grid-column-start: 6;
    grid-row-start: 2;
}

.fonte{
    padding-bottom: 10px;
}

.mode{
display: block;
justify-content: center;
padding-left: 300px;
}


.banner{
    padding-top: 12px;
    margin-left: -10px;
    margin-right: -10px;
}

.terror{
    padding-left: 520px;
}

.text{
    padding-left: 20px;
}

html[dark] p:hover{
    color: white !important;
}

.texto{
    padding-left: 370px;
}
